{{!-- <h1>{{user.email}}</h1> --}}
<nav class="mb-0 navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    Search
                </a>
            </div>
        </div>
</nav>

<div class="mt-0 container">
    <div class="jumbotron text-center">
        <h2 class="display-4">{{user.name}}'s Profile</h2>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="card">
            <h4 class="card-header header">
                {{user.name}}'s Previous Searches:
            </h4>
            <div class="card-body">

                {{#each searches}}
                <li class="list-group-item">
                    <div class="row text-justify">
                        <div class="col-sm-8">
                            <h5 class="card-title">{{name}} </h5>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{site}}" class="btn btn-primary">View Results</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="/api/delete/{{id}}" id="delete-button" class="btn btn-warning">Delete</a>
                        </div>
                    </div>
                </li>
                {{/each}}
                </ul>

            </div>

        </div>
    </div>
</div>